@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.menu-list {
  display: flex;
}
.menu-list li {
  border: 1px solid #1d2026;
  padding: 5px 10px;
}
.menu-list a {
  padding: 5px 10px;
}
.home a {
  padding: 5px 10px;
}
.home a:hover {
  border: 1px solid #39a492;
  border-radius: 5px;
}
.menu-li a:hover {
  border: 1px solid #5a6068;
  border-radius: 5px;
}
.menu-list a {
  color: #a4aead;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #1d2126;
}
.inp_search {
  position: relative;
  background-color: #1d2126;
  border-radius: 5px;
  padding-left: 20px;
  height: 30px;
  border: 1px solid #53595c;
  color: white;
}

.col-md-2 img {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 156px;
  top: 30px;
}

.slider {
  background-image: url(img/bc.jpg);
}

.header {
  display: flex;
  height: 80px;
  background-color: #1d2026;
  align-items: center;
}

.slider {
  display: flex;
  align-items: center;
  height: 660px;
}
.slider-title {
  color: white;
  font-size: 36px;
  text-transform: uppercase;
}
.slider-text {
  margin-top: 34px;
  color: #a7aeb6;
  font-size: 16px;
}
.slider-btn {
  margin-top: 40px;
}
.slider-btn button {
  background-color: #464a5c;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  color: #ffe5e5;
  border: 1px solid #ffe5e5;
  transition: 0.5s all;
}
.slider-btn button:hover {
  background-color: #39a492;
  border: 1px solid #464a5c;
  cursor: pointer;
  color: white;
}
/* WE ARE MODEST */

.title {
  margin-top: 88px;
  font-size: 36px;
  border-left: 10px solid #e1e5e9;
  padding-left: 10px;
  text-transform: uppercase;
}

.modest_left {
  margin-top: 65px;
}
.modest_descr_two {
  margin-top: 40px;
}
.modest_btn {
  margin-top: 65px;
  margin-bottom: 65px;
}
.modest_btn button {
  margin: 5px;
  border: none;
  background-color: grey;
  transition: 0.5s all;
}
.modest_btn button:hover {
  background-color: #23b7a3;
}

.block_one_title {
  font-size: 18px;
  margin-top: 20px;
  text-transform: uppercase;
}
.block_one_text {
  margin-top: 20px;
  font-size: 16px;
  color: #8d8f92;
}
.modest_block {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.modest_block:first-child {
  margin-top: 25px;
}
.block_square {
  padding: 15px;
  background-color: #39a493;
  width: 50px;
  height: 50px;
  color: white;
}

/* MEET THE TEAM */

.team_img {
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team_icon {
  position: absolute;
  display: none;
  transition: 0.5s all;
}
.team_icon img {
  background-color: black;
}
.team_block {
  background-color: #e1e5e9;
  margin-bottom: 85px;
}
.team_name {
  padding: 15px 20px;
}
.name_profession {
  color: #a2a3a7;
  font-size: 14px;
  margin-top: 5px;
}
.team_block:hover {
  background-color: black;
  color: white;
  transition: 0.5s all;
}
.team_block:hover .team_icon {
  display: block;
}
.team_icon:hover {
  cursor: pointer;
}

/* LOVELY */
.lovely {
  width: 100%;
  background-color: #39454d;
}
.lovely_work {
  color: white;
  border-left: 10px solid #4d5961;
  margin-bottom: 65px;
}
.lovely_img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}
.lovely_btn {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.lovely_btn button {
  background-color: #464a5c;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  color: #ffe5e5;
  border: 1px solid #ffe5e5;
  transition: 0.5s all;
}
.lovely_btn button:hover {
  background-color: #39a492;
  border: 1px solid #4d5961;
  cursor: pointer;
  color: white;
}
.lovely_none {
  display: none;
  position: absolute;
  background-color: #292f35;
  width: 360px;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.lovely_img:hover .lovely_none {
  display: flex;
  cursor: pointer;
}

/* GAJET */
.gajet {
  padding-bottom: 80px;
}
.gajet_title {
  color: black;
  margin-bottom: 85px;
}
.gajet_descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 74px;
}
.descr_title {
  margin-top: 30px;
}
.descr_text {
  text-align: center;
  font-size: 16px;
  color: #9a9c9f;
  margin-top: 30px;
}

/* FEATURES */
.features {
  background-color: #39454d;
  padding-bottom: 80px;
}
.features_title {
  border-left: 10px solid #4d5961;
  color: white;
}
.features_descr {
  margin-top: 55px;
  color: white;
}
.features_img{
  margin-top: 65px;
}
.descr-title{
  text-transform: uppercase;
  margin-top: 35px;
}
.descr-text{
  margin-top: 25px;
  color: #858d92;
}

/* TOUCH */

.map{
  margin-top: 60px;
}
.touch_desck{
  margin-top: 50px;
}
.touch_text{
  margin-top: 30px;
  font-size: 16px;
  color: #8d8f92;
}
.touch_title{
  font-size: 20px;
}


/* FOOOTER */
.footer{
  background-color: #39454d;
  margin-top: 100px;
}
.copyr{
  color: white;
}
.footer_descr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

}
.footer_icon{
  display: flex;
  gap: 20px;
}
.footer_icon a{
  font-size: 30px;
  color: white;
}
/*tablet*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .hidden-xs {
    display: none;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .menu-list {
    overflow: scroll;
  }
  .modest_btn {
    display: flex;
    justify-content: center;
  }
  .team_block {
    width: 80%;
  }
  .features_img img {
    width: 90%;
  }
  .row_features{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*laptop*/
@media (min-width: 991px) {
  .container {
    max-width: 960px;
  }
  .col-md-2 {
    display: flex;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .menu-list {
    overflow: scroll;
  }
  .modest_btn {
    display: flex;
    justify-content: flex-start;
  }
  .team_block {
    width: 125%;
  }
  
}
/*desktop*/
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .menu-list {
    overflow: visible;
  }
  .team_block {
    width: 100%;
  }
}

/*only mobile*/
@media (max-width: 767px) {
  .container {
    max-width: 737px;
  }
  .hidden-xs {
    display: none;
  }
  .menu-list {
    overflow: scroll;
    margin-top: 10px;
  }
  .modest_logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .slider {
    display: flex;
    align-items: flex-start;
    height: 316px;
  }
  .slider-title {
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
  }
  .slider-text {
    text-align: center;
  }
  .slider-btn {
    display: flex;
    justify-content: center;
  }
  .slider-btn button {
    width: 200px;
  }
  .title_modest {
    display: flex;
    justify-content: center;
  }
  .title_team {
    display: flex;
    justify-content: center;
  }
  .team_block {
    text-align: center;
    width: 264px;
  }
  .row_xs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lovely_img img {
    width: 100%;
  }
  .modest_btn {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .row_lovely{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row_gajet{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row_features{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .features_img img {
    width: 100%;
  }
  .features_descr{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .descr-text{
    text-align: center;
    width: 90%;
  }
}
